<div class="container">
  <div *ngFor='let quote of quotes; let i = index'>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{quote.id}} {{quote.name}}</h4>
        <p class="card-text">{{quote.description}}</p>
        <h4 class="card-title">{{quote.author}} </h4>
        <h4 class="card-title">{{quote.completeDate|date}} </h4>
        <button class="btn btn-success" (click)='upVote(i)'>UPVOTE {{quote.upVote}}</button>
        <button class="btn btn-success" (click)='downVote(i)'>DWVOTE {{quote.downVote}}</button>
        <button class="btn btn-success"  (click)='quoteDelete($event,i)'>DELETE</button>
      </div>
    </div>
</div>
</div>
<!-- <div class="card bg-warning">
  <div class="card-body text-center">
    <p class="card-text">“It is better to be hated for what you are than to be loved for what you are not.”</p>
  </div>
</div>
<div class="card bg-success">
  <div class="card-body text-center">
    <p class="card-text">“It does not do to dwell on dreams and forget to live.”</p>
  </div>
</div>
<div class="card bg-danger">
  <div class="card-body text-center">
    <p class="card-text">"There are only two ways to live your life.
      One is as though nothing is a miracle.
      The other is as though everything is a miracle.”</p>
  </div>
</div>
<div class="card bg-light">
  <div class="card-body text-center">
    <p class="card-text">“Good friends, good books, and a sleepy conscience: this is the ideal life.”</p>
  </div>
</div>
</div> -->