/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-image: url("src/assets/tree-736881_960_720.jpg");
}
h1{
    color: white;
    margin-left: 400px;
}

 button {
    margin-right: 10%;
} 
.text{
    text-align: center;
    color: white;
}
.form-group{
    color: white;
}
